{% extends 'base.html' %}
{% block content %}
{{block.super}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>
<body>
    {% for image in images %}
    <div class="container">
        <div class="card" style="margin-bottom: 5rem;">
            <div class="card-header d-flex">
                <a href=""></a>
            </div>  
            <img src="{{image.image.url}} " class="img-responsive" alt="">
            <div class="card-body">
                <form action="">
                    {% csrf_token %}
                    <button type="submit" name="image_id" value={{image.id}}
                        style="border: 0px; background-color: transparent; margin-bottom: 1rem;"><i
                            class="far fa-heart"></i></button>
                </form>
            </div>
        
        </div>
    </div>
    {%endfor%}
</body>
</html>
{%endblock%}