<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="logo">
                <a href="{% url 'home' %}"><img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1200px-Instagram_logo.svg.png"
                    alt="logo" width="103"></a>
              </div>
              <div>
                <a href="{% url 'admin:index' %}"><i class="fas fa-user-lock fa-1x ms-1" style="color: #06101a;"></i></a>
              </div>
            <!--Adding a search form-->
            <form role="search" class="form-inline" action="">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1" name="user">
                <div class="input-group-append" type="submit">
                  <button class="input-group-text btn" type="submit"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </form>
        <!--search form end -->
        <div class="col-sm-6 col-md-6">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Account
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% if user.is_authenticated%}
                <li><a class="dropdown-item" href="{% url 'profile' id=request.user.id%}">Profile</a></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                {%else%}
                <li><a class="dropdown-item" href="/login">Login</a></li>
                <li><a class="dropdown-item" href="/signup">Signup</a></li>
                {%endif%}
            </ul>
        </div>
          </div>
    </div>
    </nav>
   
    
</body>
</html>