{%extends 'base.html'%}

{%block styles%}
<style>
</style>
{%endblock%}

{%block content%}

<div class="row py-3 px-1">
    <div class="col-md-8 mx-auto">
        <div class="bg-white rounded overflow-hidden">

            <div class="container">
                <div class="row pb-4">
                    <div class="col-4 text-center">
                        <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                             alt="avatar" width="150" class="rounded-circle mb-2">
                    </div>
                    <div class="col-8">
                        <div class="text-center d-flex justify-content-between pb-3">
                            <span>{{profile.user.username|title}}</span>
                            {% if request.user != profile.user%}
                            <button class="btn btn-sm btn-default border"><i class="fas fa-envelope-o"></i> message</button>
                            <form method="post">
                                {%csrf_token%}
                                <input hidden name="that_user_id" value="{{profile.user.id}}">
                                <button class="btn btn-sm btn-primary" type="submit"><i class="fas fa-plus"></i> follow</button>
                            </form>
                            {%endif%}
                        </div>
                        <div class="text-center d-flex justify-content-between pb-3">
                            <span> 1234 Posts</span>
                            <span> {{profile.followers.count}} Followers</span>
                            <span>  {{profile.following.count}} Following</span>
                        </div>
                        <div >
                            <p class="text-bold">Bio</p>
                            <p></p>
                        </div>
                    </div>
                </div>
                <br>
            </div>

            </div>
        </div>
    </div>
</div>
{%endblock%}